// TEXT
.show-text{ 
    display: none;
    @extend .btn-main
}
// POPUP
.popup { 
    background-color: $white;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    display: none;
    height: 320px;
    width: 275px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.wrapper { 
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.title { 
    font-family: 'Lobster', cursive;
    font-size: 20px;
}

#email,
#password { 
    border: 1px solid $black;
    padding: 15px;
    margin: 10px 0 15px 0;
    width: 85%;
}

.checkbox-label { 
    font-size: 15px;
}

.button { 
    width: 100%;
    height: 40px;
    background-color: $black;
    color: $white;
    margin-top: 20px;
    cursor: pointer;
    transition: .5s ease;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-size: 11px;

    &:hover { 
        background-color: #fd878e;
    }
}

.close-popup { 
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $black;
    position: absolute;
    top: -5px;
    right: -5px;
    outline: none;
    border: none;
    cursor: pointer;
}

.line,
.line2 { 
    width: 12px;
    height: 3px;
    background-color: $white;
    transform: rotate(45deg) translate(-50%, -50%);
    position: absolute;
    left: 36%;
    top: 65%;
    border-radius: 20px;
}

.line2 { 
    transform: rotate(-45deg);
    left: 20%;
    top: 40%;
}

// JS STYLES

.show { 
    display: flex;
}

.hide{ 
    display: none;
}